.general-button {
  width: 200px;
  height: 50px;
  padding: 16px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 15px 15px auto;
  font-size: 1.8rem;
  cursor: pointer;
}
.general-button:hover {
  -webkit-box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.79);
          box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.79);
}

hr {
  width: 100px;
  height: 3px;
  margin: 0 auto;
  background: #833ab4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: #5f4f94;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #a1adcc;
}

header {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.header__logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  margin: 0 auto;
}

.header__logo--img {
  width: 98%;
}

.header__text {
  margin-top: 15px;
  text-align: center;
}
.header__text h1 {
  font-weight: 100;
  color: white;
}
.header__text p {
  margin-top: 40px;
  color: #a1adcc;
}

.section1 {
  width: 100%;
  margin-top: 40px;
  background-color: white;
}

.section1__picture {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.section1__picture img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.section1__text {
  width: 100%;
  text-align: center;
}
.section1__text h2 {
  margin-top: 40px;
  font-weight: 100;
  margin-bottom: 8px;
}
.section1__text p {
  margin-top: 25px;
  color: #63637b;
  padding: 0 10px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.section2 {
  background-color: white;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.section2 h2 {
  font-weight: 100;
  margin-bottom: 15px;
}

.content__cards {
  width: 100%;
  margin-top: 40px;
}
.content__cards h4 {
  margin-bottom: 20px;
}
.content__cards p {
  margin: 0 20px;
  font-size: 1.8rem;
  color: #a1adcc;
}

.icon--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flaticon {
  margin: auto;
  font-size: 60px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  padding: 53px;
}

.flaticon-arrow {
  color: #f8afb1;
}

.flaticon-email {
  color: #8d88af;
}

.flaticon-calendar {
  color: #75c5f8;
}

.section3 {
  background-color: white;
  text-align: center;
  padding: 0 25px;
  padding-top: 35px;
}
.section3 h2 {
  margin-bottom: 15px;
}
.section3 p {
  margin-top: 15px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: #a1adcc;
}

.content-staditic {
  width: 100%;
  border-radius: 15px;
}

.card1 {
  background-color: #EFA8D0;
  border-radius: 10px 10px 0px 0px;
}

.card2 {
  background-color: #c79cc8;
}

.card3 {
  background-color: #a89cc8;
}

.card4 {
  background-color: #9bb2e1;
  border-radius: 0px 0px 10px 10px;
}

.stadistic-card {
  width: 100%;
  height: auto;
  padding: 15px;
}
.stadistic-card h4 {
  color: white;
}
.stadistic-card p {
  color: white;
}
.stadistic-card i {
  font-size: 8rem;
  color: white;
}