.section1{
	width: 100%;
	margin-top: 40px;
	background-color: white;
}

.section1__picture{
	width: 100%;
	text-align: center;
	padding-top: 50px;

	img {
		width: 180px;
		height: 180px;
		border-radius: 50%;
	}

}

.section1__text{
	width: 100%;
	text-align: center;

	h2{
		margin-top: 40px;
		font-weight: 100;
		margin-bottom: 8px;
	}

	p{
		margin-top: 25px;
		
	}

	hr{
		width: 100px;
		height: 3px;
		margin:0 auto;
		background: #833ab4;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border: none;
	}
}