.section4{
	width: 100%;
	background-color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;

	h2{
		margin-bottom: 20px;
		font-size:  2rem;
	}

	p{
		width: 90%;
		margin: 20px  auto;
	}
}

.getstartedButton{
	background-color: #9bb2e1;
}