.section1{
	width: 100%;
	margin-top: 40px;
	background-color: white;
}

.section1__picture{
	width: 100%;
	text-align: center;
	padding-top: 50px;

	img {
		width: 180px;
		height: 180px;
		border-radius: 50%;
	}

}

.section1__text{
	width: 100%;
	text-align: center;

	h2{
		margin-top: 40px;
		font-weight: 100;
		margin-bottom: 8px;
	}

	p{
		margin-top: 25px;
		color:#63637b;
		padding: 0 10px;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}

	
}