header
	.header__logo
		img(src="https://i.imgur.com/crEEkIX.png", alt="Logo").header__logo--img
	.header__text 
		h1 Magtimus
		p Un canal de puro diseño web, aprenderas muchas cosas a lo largo del tiempo en este canal, siguines en @magtimus <br>
			a(href="#") Facebook 