include config.pug
section.section3
	h2 Magna Veroeros
	hr
	p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium ipsum vel cum quod soluta ducimus. Nobis modi, hic quaerat numquam voluptatem aliquam perspiciatis itaque culpa nostrum repellendus, quod iste, non laborum dolor assumenda ad placeat!
	.content-stadistic
		+stadistic-card("flaticon-shuttle","5.100","Ehan","card1")
		+stadistic-card("flaticon-laptop","8.120","Magna","card2")
		+stadistic-card("flaticon-bar-chart","2.048","Templus","card3")
		+stadistic-card("flaticon-diamond","4.096","Aliquam","card4")
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure commodi repellendus at ducimus. Eaque sit ea dolorem beatae vitae labore ut eum necessitatibus odio delectus consequuntur, quia numquam veritatis mollitia.Odio nam, perspiciatis nobis laboriosam minus, assumenda sit accusamus consectetur obcaecati ducimus odit id illum et corporis aut reiciendis. Non doloremque fugiat odio necessitatibus vero provident cupiditate nemo libero ea.Numquam aliquam cumque laborum aut iusto assumenda, ipsa dolor, praesentium ab minima, hic ratione adipisci dignissimos. Explicabo omnis hic quod iusto? Quasi saepe molestiae nesciunt delectus officiis velit consectetur aut?
	+button("Learn more")