include config.pug
section.section1
	.section1__picture
		img(src="https://i.imgur.com/dtrajmb.jpg", alt="ImagenSection1")
	.section1__text
		h2 Lorem, ipsum dolor.
		hr
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta alias maiores neque necessitatibus? Voluptatibus at rem quis, veritatis itaque saepe iusto explicabo, aspernatur in porro quam molestias asperiores laboriosam
		+button("learn more")