include config.pug
section.section4 
	h2 Congue Imperdiet
	hr
	p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla aliquam animi omnis veniam fugit fugiat accusamus obcaecati quod nisi non!
	.button-content
		+button("Get started","getstartedButton")
		+button("Learn more")