include config.pug
section.section2 
	h2 Magna Vereros
	hr
	.content-main
		+cards("flaticon-arrow","Lorem ipsu","Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta alias maiores neque necessitatibus? Voluptatibus at rem quis")
		+cards("flaticon-email","Lorem ipsu","Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta alias maiores neque necessitatibus? Voluptatibus at rem quis")
		+cards("flaticon-calendar","Lorem ipsu","Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste soluta alias maiores neque necessitatibus? Voluptatibus at remquis")
	+button("Learn more")